body{
  min-width: 1440px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;

    -webkit-font-smoothing: antialiased;
}

menu, ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.frame-4,
.frame-4 * {
  box-sizing: border-box;
}
.frame-4 {
  background: #ffffff;
  height: 5539px;
  position: relative;
  overflow: hidden;
}
.div {
  position: absolute;
  inset: 0;
}
.rectangle-18 {
  background: #000000;
  width: 1920px;
  height: 969px;
  position: absolute;
  left: 0px;
  top: 2659px;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2740px;
  width: 322px;
  height: 77px;
  -webkit-text-stroke: 1px #ffffff;
}
._3-1 {
  width: 1727px;
  height: 772px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 57%;
  object-fit: cover;
}
._500 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3510px;
}
.rectangle-19 {
  background: #000000;
  width: 1925px;
  height: 781px;
  position: absolute;
  left: -2px;
  top: 3619px;
}
.div3 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3669px;
  width: 371px;
  height: 81px;
}
.group-1 {
  width: 1546px;
  height: 572.5px;
  position: static;
}
.image-5 {
  width: 551px;
  height: 565.57px;
  position: absolute;
  left: 188px;
  top: 3819.93px;
  object-fit: cover;
}
.image-6 {
  width: 444px;
  height: 271.96px;
  position: absolute;
  left: 1290px;
  top: 4113.54px;
  object-fit: cover;
}
.image-7 {
  width: 471px;
  height: 271.96px;
  position: absolute;
  left: 770px;
  top: 3819.93px;
  object-fit: cover;
}
.image-8 {
  width: 449px;
  height: 271.09px;
  position: absolute;
  left: 1285px;
  top: 3813px;
  object-fit: cover;
}
.image-9 {
  width: 471px;
  height: 271.96px;
  position: absolute;
  left: 770px;
  top: 4113.54px;
  object-fit: cover;
}
.rectangle-11 {
  background: #000000;
  width: 1920px;
  height: 682px;
  position: absolute;
  left: 0px;
  top: 1050px;
}
.div4 {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1089px;
  width: 961px;
  height: 81px;
}
.rectangle-13 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 23.499999940395355%,
    rgba(28, 87, 159, 1) 70.05538940429688%
  );
  width: 1921px;
  height: 218px;
  position: absolute;
  left: 3px;
  top: 1483px;
}
.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 228px;
  top: 1434px;
}
.dexp-65-4 {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1437px;
  width: 446px;
}
.rectangle-20 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 478px;
  top: 1265px;
}
.rectangle-21 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 519px;
  top: 1265px;
}
.rectangle-22 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 560px;
  top: 1265px;
}
.rectangle-23 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 601px;
  top: 1265px;
}
.rectangle-24 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 642px;
  top: 1265px;
}
.rectangle-25 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 683px;
  top: 1265px;
}
.rectangle-26 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 724px;
  top: 1265px;
}
.rectangle-27 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 765px;
  top: 1265px;
}
.rectangle-28 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 806px;
  top: 1265px;
}
.rectangle-29 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1098px;
  top: 1264px;
}
.rectangle-30 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1139px;
  top: 1264px;
}
.rectangle-31 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1180px;
  top: 1264px;
}
.rectangle-32 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1221px;
  top: 1264px;
}
.rectangle-33 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1262px;
  top: 1264px;
}
.rectangle-34 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1303px;
  top: 1264px;
}
.rectangle-35 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1344px;
  top: 1264px;
}
.rectangle-36 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1385px;
  top: 1264px;
}
.rectangle-37 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1426px;
  top: 1264px;
}
._1 {
  width: 199px;
  height: 199px;
  position: absolute;
  left: 248px;
  top: 1207px;
  object-fit: cover;
}
._12 {
  width: 199px;
  height: 199px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 1561.5px);
  object-fit: cover;
}
.div6 {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -402px);
  top: 1437px;
  width: 420px;
}
._13 {
  width: 197px;
  height: 197px;
  position: absolute;
  left: calc(50% - -522px);
  top: 1191px;
  object-fit: cover;
}
.rectangle-232 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1703px;
  top: 1265px;
}
.rectangle-242 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1744px;
  top: 1265px;
}
.rectangle-252 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 1785px;
  top: 1265px;
}
.rectangle-262 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 120px;
  top: 1265px;
}
.rectangle-272 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 161px;
  top: 1265px;
}
.rectangle-282 {
  background: #1c579f;
  width: 15px;
  height: 85px;
  position: absolute;
  left: 202px;
  top: 1265px;
}
._2 {
  position: absolute;
  inset: 0;
}
.rectangle-112 {
  width: 1922px;
  height: 1067px;
  position: absolute;
  left: -1px;
  top: 1592px;
  overflow: visible;
}
.div7 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1633px;
  width: 242px;
  height: 77px;
  -webkit-text-stroke: 1px #ffffff;
}
.rectangle-10 {
  width: 886px;
  height: 90.12px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2052px;
  overflow: visible;
}
.rectangle-12 {
  width: 886px;
  height: 90.12px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1782px;
  overflow: visible;
}
.line-3 {
  width: 527px;
  height: 0px;
  position: absolute;
  left: 526px;
  top: 2097.06px;
  overflow: visible;
}
.line-8 {
  width: 519px;
  height: 0px;
  position: absolute;
  left: 520px;
  top: 1827px;
  overflow: visible;
}
.line-4 {
  width: 523px;
  height: 0px;
  position: absolute;
  left: 1922px;
  top: 2097.06px;
  overflow: visible;
}
.line-7 {
  width: 530px;
  height: 0px;
  position: absolute;
  left: 1921px;
  top: 1827px;
  overflow: visible;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 119px;
  top: 1942px;
  width: 366px;
  height: 47.94px;
  -webkit-text-stroke: 1px #ffffff;
}
._150 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 1568px;
  top: 1942px;
  width: 210px;
  height: 47.94px;
  -webkit-text-stroke: 1px #ffffff;
}
.div9 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2064px;
  width: 565px;
  height: 53px;
  -webkit-text-stroke: 1px #ffffff;
}
.div10 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 1796px;
  width: 444px;
  height: 48px;
  -webkit-text-stroke: 1px #ffffff;
}
.div11 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 2295px;
  width: 249px;
  height: 43.14px;
  -webkit-text-stroke: 1px #ffffff;
}
._3 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 844px;
  top: 2199px;
  width: 202px;
  height: 38px;
  -webkit-text-stroke: 1px #ffffff;
}
._5 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 1558px;
  top: 2199px;
  width: 211px;
  height: 38px;
  -webkit-text-stroke: 1px #ffffff;
}
._400 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 847px;
  top: 2295px;
  width: 196px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._1000 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1549px;
  top: 2386px;
  width: 229px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._750 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 850px;
  top: 2386px;
  width: 190px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._1800 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1551px;
  top: 2566px;
  width: 226px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._1550 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 830px;
  top: 2566px;
  width: 230px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._1450 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1552px;
  top: 2475px;
  width: 223px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._1200 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 832px;
  top: 2475px;
  width: 226px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
._650 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1567px;
  top: 2295px;
  width: 194px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 2386px;
  width: 247px;
  height: 43.14px;
  -webkit-text-stroke: 1px #ffffff;
}
.vip {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 2475px;
  width: 79px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
.lux {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 129px;
  top: 2566px;
  width: 97px;
  height: 43px;
  -webkit-text-stroke: 1px #ffffff;
}
.line-11 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 507px;
  top: 2294px;
  overflow: visible;
}
.line-36 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 507px;
  top: 2476px;
  overflow: visible;
}
.line-41 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 507px;
  top: 2567px;
  overflow: visible;
}
.line-31 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 507px;
  top: 2385px;
  overflow: visible;
}
.line-46 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 1204px;
  top: 2294px;
  overflow: visible;
}
.line-51 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 1204px;
  top: 2476px;
  overflow: visible;
}
.line-56 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 1204px;
  top: 2567px;
  overflow: visible;
}
.line-61 {
  width: 217px;
  height: 55px;
  position: absolute;
  left: 1204px;
  top: 2385px;
  overflow: visible;
}
.group-2 {
  width: 607px;
  height: 48px;
  position: absolute;
  left: 657px;
  top: 1938px;
  overflow: visible;
}
.image-3 {
  width: 1920px;
  height: 1072px;
  position: absolute;
  left: 0px;
  top: -22px;
  object-fit: cover;
}
.play-box {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 230px;
  top: 263px;
  width: 1460px;
  height: 219px;
}
.play-station-x-box {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 646px;
  width: 1211px;
  height: 138px;
}
.play-box2 {
  color: #ffffff;
  text-align: center;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 503px;
  width: 1283px;
  height: 90px;
}
.rectangle-1 {
  background: rgba(50, 56, 55, 0.67);
  width: 1920px;
  height: 169px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 747px;
  top: 58px;
}
.div16 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 510px;
  top: 58px;
}
.div17 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1003px;
  top: 58px;
}
.div18 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1580px;
  top: 58px;
}
.div19 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 1271px;
  top: 58px;
}
.play-box-1 {
  width: 330px;
  height: 75px;
  position: absolute;
  left: 84px;
  top: 46px;
  object-fit: cover;
}
.rectangle-14 {
  background: #000000;
  width: 1926px;
  height: 970px;
  position: absolute;
  left: -3px;
  top: 4400px;
}
.div20 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4428px;
  width: 373px;
  height: 90px;
  -webkit-text-stroke: 1px #7ddf5a;
}
.rectangle-15 {
  background: #7ddf5a;
  border-radius: 50px;
  border-style: solid;
  border-color: #7ddf5a;
  border-width: 1px;
  width: 1679px;
  height: 10px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4573px;
}
.image-4 {
  border-radius: 30px;
  border-style: solid;
  border-color: #7ddf5a;
  border-width: 1px;
  width: 573px;
  height: 475.55px;
  position: absolute;
  left: 1227px;
  top: 4693px;
  object-fit: cover;
}
._2-3-2 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 4600px;
  width: 920px;
  height: 106px;
  -webkit-text-stroke: 1px #7ddf5a;
}
.whats-app-7-996-912-34-31-7-988-600-30-63 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 4826px;
  -webkit-text-stroke: 1px #7ddf5a;
}
.rectangle-17 {
  background: #000000;
  border-radius: 50px;
  border-style: solid;
  border-color: #1c579f;
  border-width: 6px;
  width: 394px;
  height: 65.1px;
  position: absolute;
  left: 192px;
  top: 5153px;
}
._2-gis {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 332px;
  top: 5163.1px;
  width: 113px;
  height: 44.9px;
  -webkit-text-stroke: 1px #7ddf5a;
}
.div21 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 5001px;
  width: 419px;
  height: 44.55px;
  -webkit-text-stroke: 1px #7ddf5a;
}
._15-00-00-00 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 5041px;
  -webkit-text-stroke: 1px #7ddf5a;
}
._12-00-01-00 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 215px;
  top: 5086px;
  -webkit-text-stroke: 1px #7ddf5a;
}
.line-9 {
  margin-top: -8px;
  border-style: solid;
  border-color: #7ddf5a;
  border-width: 8px 0 0 0;
  width: 1920px;
  height: 0px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 5370px;
}
.rectangle-16 {
  background: #7ddf5a;
  border-radius: 50px;
  border-style: solid;
  border-color: #7ddf5a;
  border-width: 1px;
  width: 1680px;
  height: 10px;
  position: absolute;
  left: calc(50% - 843px);
  top: 5280px;
}
._2-1 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 127px;
  top: 4833px;
  object-fit: cover;
}
._2-12 {
  width: 71px;
  height: 71px;
  position: absolute;
  left: 121px;
  top: 4617px;
  object-fit: cover;
}
._14 {
  width: 99px;
  height: 99px;
  position: absolute;
  left: 104px;
  top: 4979px;
  object-fit: cover;
}
.rectangle-110 {
  background: #000000;
  width: 1920px;
  height: 169px;
  position: absolute;
  left: 0px;
  top: 5370px;
}
._2024 {
  color: #ffffff;
  text-align: left;
  font-family: "Cubiscus";
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -699px);
  top: 5439px;
  width: 120px;
  height: 31px;
}
.play-box-2 {
  width: 330px;
  height: 75px;
  position: absolute;
  left: 90px;
  top: 5417px;
  object-fit: cover;
}
.rectangle-152 {
  background: #1c579f;
  border-radius: 50px;
  width: 1680px;
  height: 10px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 2690px;
}
.rectangle-162 {
  border-radius: 0px;
  width: 1681.5px;
  height: 10.1px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3623px;
  overflow: visible;
}
/* Увеличение изображений при наведении */
.image-5, .image-6, .image-7, .image-8, .image-9 {
  transition: transform 0.3s ease;
}

.image-5:hover, .image-6:hover, .image-7:hover, .image-8:hover, .image-9:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Стили для модального окна просмотра изображений */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
